
<div class="container">

<div class= "col-sm-6 col-md-6 col-lg-6 col-xl-6">
<center>	
<h1>Adam Sunshine</h1>
<p>1138 Grandview Ave #W11, Boulder, CO 80302</p>
<p>(303) 437-2804	    adam@csuac.com</p>
</center>
</div>
<div class= "col-sm-6 col-md-6 col-lg-6 col-xl-6">
	<center>
	<%= link_to image_tag("maddy.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>
        </center>

</div>
<h3>SUMMARY OF QUALIFICATIONS:</h3>
<ul>
<li>2 years experience developing software with a team, both professionally and on school projects</li>
<li>Developed a great attitude and hunger to learn more by immersing myself in the Startup community in Boulder</li>
<li>Major GPA of 3.05/4.0</li>
<li>Utilized excellent written and oral communication skills as Program Director for a nationwide internship program
</li>
</ul>
<h3>EDUCATION:</h3>	
<br>
<h5>University of Colorado Boulder		Boulder, CO</h5>
				<p>B.S. Computer Science					May 2015</p>

<h3>EXPERIENCE:</h3>
<ul>
	<h3>CGI, inc						Lakewood, CO</h3>
	<p>Application Developer</p>
	<p>July 2015 - Present</p>
	<li>Worked with two other individuals to design and develop an automated error reporting system for the Connect For Health Colorado Health Insurance Exchange</li>
	<li>More to come.</li>	
</ul>
<ul>
<h3>KINDARA							Boulder, CO</h3>
	<p>Software Developer						April 2013 - December 2013</p>

<li>Developed and maintained an independent web application for data analysis of an aggregate user base using Python/JavaScript/HTML/CSS </li>
<li>Analyzed and interpreted data from web application to understand user demographics using SQL</li>
<li>Expanded and updated current import options for separate user web application using Python</li>
<li>Assisted with customer relations/technical support</li>
<li>Contributed to marketing plan/ company outlook/ future projects</li>
</ul>

<ul>
<h3>STARTUP COLORADO</h3>
<h5>Boulder, CO</h5>
<p>Program Director						December 2013 – April 2014<p>

<li>Led nationwide student recruitment initiative for Startup Summer Internship Program</li>
<li>Hosted 5 events at 3 college campuses to recruit talented entrepreneurial-minded students</li>
<li>Collaborated in developing the 10 week Startup Summer seminar program for participating students</li>
<li>Facilitated Startup Summer classes and workshops</li>
</ul>


