
<!-- <div class="center jumbotron">
 <center>
 <h1>Adam Sunshine</h1>

  <h2>
    The home page for
    <a href="/">Sunshine Development Studios</a>
     is currently under development.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
 <center>
</div> -->



<div class= "container">
	<div class= "col-sm-6 col-md-6 col-lg-6 col-xl-6">
	<center class= "text-box"><h3>Welcome to my Website!</h3>
	<br>
	<p>My name is Adam Sunshine, and I am a recent college graduate with a passion for developing software products. I also enjoy sports and spending time with those I care about.</p>
	<br>
	<p>Check out my recent side projects <%= link_to "here ",   '/side_projects' %>for more of my ideas, and <%= link_to "here",   '/experience' %> for more info on my experience.</p>
	</center>
</div>

<div class= "col-sm-6 col-md-6 col-lg-6 col-xl-6">
<center>
<%= image_tag("red_rocks_image.png", alt: "Rails logo", class: "img-rounded") %>
           </center>

</div>
</div>
