<div class="center jumbotron">
  <center><h1>Adam Sunshine</h1>

  <h2>
    The home page for
    <a href="/">Sunshine Development Studios</a>
     is currently under development.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</center>
</div>

<%= link_to image_tag("red_rocks_image.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>

