<div class= "container">
	<div class= "col-sm-6 col-md-6 col-lg-6 col-xl-6">
	<center class= "text-box">
		<h3>Side Projects</h3>
		<h5>Hi there! Thanks for checking out my website.</h5>
	<br>
	<h5>I'm a recent college grad with a passion for developing software products (hopefully soon creating companies), who also enjoys sports and spending time with those I care about.</h5>
	<br>
	<h5>Check out my Blog <%= link_to "here ",   '/side_projects' %>for more of my ideas, and <%= link_to "here",   '/experience' %> for more info on my experience.</h5>

	<p>So basically, this side projects section will have all of the information regarding my projects. I will include information such as why I decided to build a particular side project, what were the steps I took, etc. Hopefully this will have value down the road.</p>
	</center>
</div>

<div class= "col-sm-6 col-md-6 col-lg-6 col-xl-6">
	<center>
<%= link_to image_tag("beach.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>
    </center>

</div>
</div>
