<footer class="footer">
  <small class="text-box">
    The <a href="/">Sunshine Development Studio Website</a>
    by <a href="https://www.linkedin.com/in/adamsunshine">Adam Sunshine</a>
  </small>
  <nav>
    <ul class="text-box" style="padding-left: 0px;">
      <li><%= link_to "Facebook",   'https://www.facebook.com/adam.sunshine.7' %></li>
      <li><%= link_to "Instagram", 'https://www.instagram.com/adamsunshine3' %></li>
      <li><a href="/">Home</a></li>
    </ul>
  </nav>
</footer>