<footer class="footer">
  <small>
    The <a href="/">Sunshine Development Studio Website</a>
    by <a href="/">Adam Sunshine</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Facebook",   'about_path' %></li>
      <li><%= link_to "Twitter", 'contact_me_path' %></li>
      <li><a href="/">Home, MOre COMING</a></li>
    </ul>
  </nav>
</footer>